<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div class="todo-list">
   <ul v-if="items.length">
       <li v-for="item in items">{{item.name}}-<a href="#" v-on:click="removeItem(item)">Remove</a></li>
   </ul>
  <p v-if="!items.length">No items</p>
        <input type="text" v-model="item">
    <input type="submit" value="Add item" v-on:click="addItem">

    </div>
<script>
    new Vue({
        el:'.todo-list',
        data:{
            item:'',
            items:[],
        },
        methods:{
            addItem: function(){
                var item = {
                    id:Date.now(),
                    name: this.item
                };
                this.items.push(item);
                 localStorage.setItem('items',JSON.stringify(this.items));
                
                this.item = '';

            },
            removeItem:function(item){
                var newItems = this.items.filter(function(i){
                    return item.id !== i.id;
                })
                this.items = newItems;
            }
        },
        mounted:function(){
          //  alert("z");
            this.items = JSON.parse(localStorage.getItem('items')) || [];
        }
    });
    
    </script>
  </body>
</html>